name: Clean Caches

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  clean-caches:
    name: Clean Caches
    permissions:
      contents: read
    uses: JackPlowman/reusable-workflows/.github/workflows/common-clean-caches.yml@e3ce366f2a4a661b335c21f09fb6ac3c9e23d2f2 # v2025.12.02.01
    secrets:
      workflow_github_token: ${{ secrets.GH_TOKEN }}
